header {
  background-color: darkgrey;
  margin: 12px;
  border-radius: 5px;
}

h1 {
  font-family: "Times New Roman";
  color: black;
}


span{
  font-family: "Times New Roman";
  padding-left: 10px;
  color: black;
}

button {
  background-color: dimgray;
  border-color: black;
}
