<header class="py-3 mb-3 border-bottom">
  <div class="text-center" style="grid-template-columns: 1fr 2fr;">
    <link rel="stylesheet" href="app.component.scss">
  </div>
</header>

<div class="container-fluid pb-3">
  <div class="d-grid gap-3" style="grid-template-columns: 1fr 4fr;">
    <div class="bg-light border rounded-3">
      <form class="row g-3" style="margin: 3px">
        <div class="text-center">
          <button type="submit" class="btn btn-secondary" routerLink="/produtos">Gerenciar Estoque</button>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-secondary" routerLink="/cadastrar-produto">Cadastrar Produto</button>
        </div>
      </form>
    </div>
    <div class="bg-light border rounded-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


