<header class="py-3 mb-3 border-bottom">
  <div class="text-center" style="grid-template-columns: 1fr 2fr;">
    <img src="../assets/img/headerProjeto.png">
    <link rel="stylesheet" href="app.component.scss">
  </div>
</header>

<div class="container-fluid pb-3">
  <div class="d-grid gap-3" style="grid-template-columns: 1fr 4fr;">
    <div class="bg-light border rounded-3">
      <form class="row g-3" style="margin: 3px">
        <div class="text-center">
          <button type="submit" class="btn btn-secondary" routerLink="/produtos">Gerenciar Estoque</button>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-secondary" routerLink="/cadastrar-produto">Cadastrar Produto</button>
        </div>
      </form>
      <div class="wrapper">
        <div class="display">
          <div id="time">12:00:00 PM</div>
        </div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="bg-light border rounded-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<script>
    setInterval(function (){
      const time = document.querySelector("#time");
      let date = new Date();
      let hours = date.getHours();
      let minutes =date.getMinutes();
      let seconds = date.getSeconds();
      let day_night = "AM"
      if(hours > 12) {
        day_night = "PM";
        hours = hours - 12;
      }
      if(hours > 10) {
        hours = "0" + hours;
      }
      if(minutes < 10) {
        hours = "0" + seconds;
      }
      time.textContent = hours + ":" + minutos + ":" + seconds +  " "  + day_night;
    })

</script>

